<!DOCTYPE html>
<html lang="en" ng-app="regApp">
<head>
    <meta charset="UTF-8">
    <title>SigUp Form </title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
</head>
<body ng-controller="regAppCtrl as ctrl">

<div class="container">
    <h1> Form </h1>
    <form class="form-horizontal" ng-submit="ctrl.submit()">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email address:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email"
                       ng-model="ctrl.email">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd"
                       ng-model="ctrl.regObj.password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2"> Radio Button</div>
            <div class="col-sm-10">
                <div class="radio">
                    <label><input name="options" type="radio" value="a"
                                  ng-model="ctrl.option"> Option 1 </label>
                </div>
                <div class="radio">
                    <label><input name="options" type="radio" value="b"
                                  ng-model="ctrl.option"> Option 2 </label>
                </div>
                <div class="radio">
                    <label><input name="options" type="radio" value="c"
                                  ng-model="ctrl.option"> Option 3 </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2"> Check Box</div>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label><input name="checkChoice"
                                  type="checkbox" value="yes"
                                  ng-model="ctrl.checkVal[0]">Apple</label>
                    <label><input name="checkChoice"
                                  type="checkbox" value="no"
                                  ng-model="ctrl.checkVal[1]">Banana</label>
                </div>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </form>

    <div>
        <p>
            Email {{ctrl.email}} <br/>
            password {{ctrl.regObj.password}} <br/>
            Option {{ctrl.option}} <br />
            checked? {{ctrl.checkVal}}

        </p>
    </div>
</div>
<!-- pull in the controller js -->
<script src="regApp.js"></script>
<script src="regAppController.js"></script>
</body>
</html>