<div class="modal fade">

    <div class="modal-dialog">
        <h3> FS is hear </h3>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="ctrl.close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ctrl.friendDetail.friendName}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <a  class="thumb">
                            <img ng-src="{{ctrl.friendDetail.imageUrl}}" alt="{{ctrl.imageUrl}}" style="height :120px"/>
                        </a>
                    </div>
                    <div class="col-md-8">
                <p><i class="fa fa-user" aria-hidden="true"></i>
                    : {{ctrl.friendDetail.gender}}</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> : {{ctrl.friendDetail.email}}</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> : {{ctrl.friendDetail.contactNo}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="ctrl.close(true)" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>