<!DOCTYPE html>
<html lang="en" ng-app="BindingApp">
<head>
    <meta charset="UTF-8">
    <title>First Angular Page</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="index.js"></script>


</head>

<body ng-controller="RegCtrl as ctr" style="background:{{ctr.pageColor}}">
<div style="padding: 30px">
    Enter your name here : <input ng-model="ctr.myname"/>
    Enter your age here : <input ng-model="ctr.age"/>
    Enter your age here : <input ng-model="ctr.pageColor"/>

    <h1>{{"Hello "+ctr.myname}} </h1>
    <h1>{{"My age "+ctr.age}} </h1>
    <p> write 1 + 2 = {{1 + 2}} </p>

</div>
<p> write 1 + 2 = {{12 + 2}} </p>

</body>
</html>